.link.prereq-path {
    stroke-opacity: 0;
    stroke-width: 1.2px;
    stroke: #f0c050 !important
}

.link.dimmed-link {
    stroke-opacity: 0.03
}

.link.focus-curve.prereq-path {
    stroke: #f0c050 !important;
    stroke-opacity: 0.92;
    stroke-width: 1.4px
}
