.node circle.state-mark {
    pointer-events: none
}

.node circle.state-mark {
    fill: transparent
}

.node.selected-node circle.glow {
    filter: brightness(1.4)
}

.node.selected-node circle.core {
    filter: brightness(1.25)
}

.node.dimmed {
    opacity: 0.12;
    transition: opacity 0.4s
}

.node.dimmed text {
    opacity: 0 !important
}
